* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}
header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 20;
  border-bottom: 1px solid #e7dcdc;
  .nav_top {
    width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      width: 150px;
      font-size: 30px;
      color: #448899;
      margin: 10px 0px;
    }
    ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      padding: 10px 0px;
      li {
        color: #666666;
        margin: 10px 0px;
        padding: 0px 10px;
        font-size: 16px;
      }
    }
  }
}

.main_container {
  width: 1200px;
  display: grid;
  grid-template-columns: 15px 540px 30px 420px 180px 15px;
  grid-template-rows: 33px 15px 22px 20px 302px 11px 37px;
  margin: 37px auto 37px auto;
  color: #666666;
  border-bottom: 1px solid #e7dcdc;
  .image_container {
    grid-column: 2/3;
    grid-row: 1/7;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .dotContainer {
      top: 93%;
      width: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      .img_dot_out {
        margin: 0px 6px;
        width: 12px;
        height: 12px;
        border-radius: 100px;
        background-color: white;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .img_dot_in {
          position: absolute;
          width: 10px;
          height: 10px;
          border-radius: 100px;
        }
      }
    }

    .right_arrow {
      width: 36px;
      height: 36px;
      top: 50%;
      right: 10px;
      cursor: pointer;
      position: absolute;
    }
    .left_arrow {
      width: 36px;
      height: 36px;
      position: absolute;
      top: 50%;
      left: 10px;
      cursor: pointer;
    }
  }

  h3 {
    grid-column: 4/6;
    grid-row: 1/2;
    font-size: 24px;
  }
  p {
    grid-column: 4/6;
    grid-row: 3/4;
    font-size: 16px;
  }
  .tour_booking {
    background-color: #e8e8e8;
    grid-column: 4/6;
    grid-row: 5/6;
    display: grid;
    grid-template-columns: 20px auto 20px;
    grid-template-rows: 15px 22px 15px 24px 15px 35px 15px 22px 15px 22px 25px 25px auto 41px;
    h4 {
      grid-column: 2/3;
      grid-row: 2/3;
    }
    p {
      grid-column: 2/3;
      grid-row: 4/5;
    }
    .date_choosing {
      grid-column: 2/3;
      grid-row: 6/7;
      display: flex;
      align-items: center;
      label {
        margin-right: 8px;
      }
      input {
        padding: 5px 0px;
      }
    }
    .time_choosing {
      grid-column: 2/2;
      grid-row: 8/9;
      display: flex;
      align-items: center;
      p {
        margin-right: 10px;
      }
      .time_separator {
        margin-right: 18px;
      }
      .clickContainer {
        top: 1px;
        margin-right: 4px;
        width: 22px;
        height: 22px;
        border-radius: 100px;
        background-color: white;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .clickEffect {
          width: 18px;
          height: 18px;
          border-radius: 100px;
          background-color: #448899;
          position: absolute;
        }
      }
    }
    .tour_pricing {
      grid-column: 2/3;
      grid-row: 10/11;
      display: flex;
      p:nth-child(1) {
        margin-right: 5px;
      }
    }
    button {
      width: 154px;
      grid-column: 2/3;
      grid-row: 12/14;
      border-radius: 5px;
      background-color: #448899;
      color: white;
      padding: 10px 20px;
      border: none;
      font-size: 19px;
      cursor: pointer;
    }
  }
}
//image change animation
.activeAnimation {
  animation: move 0.6s forwards;
}
@keyframes move {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
//price change
.time_active {
  display: none;
}

.tour_intro_container {
  color: #666666;
  width: 1180px;
  margin: 50px auto 120px auto;
  .tour_intro {
    margin-bottom: 20px;
  }
  .tour_address {
    margin-bottom: 20px;
  }
}

footer {
  width: 100%;
  height: 104px;
  background-color: #757575;
  margin-top: 55px;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    line-height: 14px;
    color: white;
    font-size: 16px;
    font-weight: 700;
  }
}

@media (max-width: 1220px) {
  header {
    width: 100%;
    .nav_top {
      width: 100%;
    }
  }
  .main_container {
    width: 95%;
    grid-template-columns: 15px 370px 30px 420px auto 15px;
    .image_container {
      aspect-ratio: 466/400;
    }
    h3 {
      grid-column: 4/6;
      grid-row: 1/2;
    }
    .cate_and_mrt {
      grid-column: 4/6;
      grid-row: 3/4;
    }
    .tour_booking {
      grid-column: 4/6;
    }
  }
  .tour_intro_container {
    width: 100%;
    padding: 5px;
  }
}

@media (max-width: 850px) {
  .main_container {
    width: 100%;
    grid-template-columns: 15px auto 15px;
    grid-template-rows: auto 20px 33px 15px 22px 20px 310px 40px;
    .image_container {
      grid-column: 1/4;
      grid-row: 1/2;
      aspect-ratio: 466/350;
      .dotContainer {
        .img_dot_out {
          margin: 0px 4px;
        }
      }
    }
    h3 {
      grid-column: 2/3;
      grid-row: 3/4;
    }
    .cate_and_mrt {
      grid-column: 2/3;
      grid-row: 5/6;
    }
    .tour_booking {
      grid-column: 2/3;
      grid-row: 7/8;
      grid-template-rows: 15px 22px 15px 24px 15px 35px 15px 22px 15px 22px 25px 20px 25px 15px;
      button {
        padding: 8px 18px;
      }
    }
  }
}

@media (max-width: 437px) {
  .main_container {
    .tour_booking {
      grid-template-rows: 15px 22px 15px 48px 15px 35px 15px 22px 15px 22px 25px 20px 25px 15px;
    }
  }
}
