.main_container {
  width: 1200px;
  display: grid;
  grid-template-columns: 15px 540px 30px 420px 180px 15px;
  grid-template-rows: 33px 15px 22px 20px 302px 11px 37px;
  margin: 37px auto 37px auto;
  color: #666666;
  border-bottom: 1px solid #e7dcdc;
}
.main_container .image_container {
  grid-column: 2/3;
  grid-row: 1/7;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main_container .image_container .dotContainer {
  top: 93%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.main_container .image_container .dotContainer .img_dot_out {
  margin: 0px 6px;
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.main_container .image_container .dotContainer .img_dot_out .img_dot_in {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100px;
}
.main_container .image_container .right_arrow {
  border-radius: 100px;
  opacity: 0.6;
  width: 36px;
  height: 36px;
  top: 50%;
  right: 10px;
  cursor: pointer;
  position: absolute;
}
.main_container .image_container .left_arrow {
  border-radius: 100px;
  opacity: 0.6;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 50%;
  left: 10px;
  cursor: pointer;
}
.main_container h3 {
  grid-column: 4/6;
  grid-row: 1/2;
  font-size: 24px;
}
.main_container p {
  grid-column: 4/6;
  grid-row: 3/4;
  font-size: 16px;
}
.main_container .tour_booking {
  background-color: #e8e8e8;
  grid-column: 4/6;
  grid-row: 5/6;
  display: grid;
  grid-template-columns: 20px auto 20px;
  grid-template-rows: 15px 22px 15px 24px 15px 35px 15px 22px 15px 22px 25px 25px auto 41px;
}
.main_container .tour_booking h4 {
  grid-column: 2/3;
  grid-row: 2/3;
}
.main_container .tour_booking p {
  grid-column: 2/3;
  grid-row: 4/5;
}
.main_container .tour_booking .date_choosing {
  grid-column: 2/3;
  grid-row: 6/7;
  display: flex;
  align-items: center;
}
.main_container .tour_booking .date_choosing label {
  margin-right: 8px;
}
.main_container .tour_booking .date_choosing input {
  padding: 5px 10px;
}
.main_container .tour_booking .time_choosing {
  grid-column: 2/2;
  grid-row: 8/9;
  display: flex;
  align-items: center;
}
.main_container .tour_booking .time_choosing p {
  margin-right: 10px;
}
.main_container .tour_booking .time_choosing .time_separator {
  margin-right: 18px;
}
.main_container .tour_booking .time_choosing .clickContainer {
  top: 1px;
  margin-right: 4px;
  width: 22px;
  height: 22px;
  border-radius: 100px;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.main_container .tour_booking .time_choosing .clickContainer .clickEffect {
  width: 18px;
  height: 18px;
  border-radius: 100px;
  background-color: #448899;
  position: absolute;
}
.main_container .tour_booking .tour_pricing {
  grid-column: 2/3;
  grid-row: 10/11;
  display: flex;
}
.main_container .tour_booking .tour_pricing p:nth-child(1) {
  margin-right: 5px;
}
.main_container .tour_booking button {
  width: 154px;
  grid-column: 2/3;
  grid-row: 12/14;
  border-radius: 5px;
  background-color: #448899;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 19px;
  cursor: pointer;
}
.main_container .tour_booking .bookErrorMessage {
  grid-column: 2/3;
  grid-row: 14/15;
  margin-top: 5px;
  padding-left: 5px;
  color: red;
  display: none;
}

.activeAnimation {
  -webkit-animation: move 0.6s forwards;
          animation: move 0.6s forwards;
}

@-webkit-keyframes move {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes move {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.time_active {
  display: none;
}

.tour_intro_container {
  color: #666666;
  width: 1180px;
  margin: 50px auto 120px auto;
}
.tour_intro_container .tour_intro {
  margin-bottom: 20px;
}
.tour_intro_container .tour_address {
  margin-bottom: 20px;
}

footer {
  width: 100%;
  height: 104px;
  background-color: #757575;
  margin-top: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  line-height: 14px;
  color: white;
  font-size: 16px;
  font-weight: 700;
}

@-webkit-keyframes buttonScaleDown {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.95);
  }
}

@keyframes buttonScaleDown {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.95);
  }
}
@-webkit-keyframes buttonScaleUp {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}
@keyframes buttonScaleUp {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}
@media (max-width: 1220px) {
  header {
    width: 100%;
  }
  header .nav_top {
    width: 100%;
  }

  .main_container {
    width: 95%;
    grid-template-columns: 15px 370px 30px 420px auto 15px;
  }
  .main_container .image_container {
    aspect-ratio: 466/400;
  }
  .main_container h3 {
    grid-column: 4/6;
    grid-row: 1/2;
  }
  .main_container .cate_and_mrt {
    grid-column: 4/6;
    grid-row: 3/4;
  }
  .main_container .tour_booking {
    grid-column: 4/6;
  }

  .tour_intro_container {
    width: 100%;
    padding: 5px;
  }
}
@media (max-width: 850px) {
  .main_container {
    width: 100%;
    grid-template-columns: 15px auto 15px;
    grid-template-rows: auto 20px 33px 15px 22px 20px 310px 40px;
  }
  .main_container .image_container {
    grid-column: 1/4;
    grid-row: 1/2;
    aspect-ratio: 466/350;
  }
  .main_container .image_container .dotContainer .img_dot_out {
    margin: 0px 4px;
  }
  .main_container h3 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .main_container .cate_and_mrt {
    grid-column: 2/3;
    grid-row: 5/6;
  }
  .main_container .tour_booking {
    grid-column: 2/3;
    grid-row: 7/8;
    grid-template-rows: 15px 22px 15px 24px 15px 35px 15px 22px 15px 22px 25px 20px 25px 15px;
  }
  .main_container .tour_booking button {
    padding: 8px 18px;
  }
}
@media (max-width: 437px) {
  .main_container {
    grid-template-rows: auto 20px 33px 15px 22px 20px 310px 25px;
  }
  .main_container .tour_booking {
    grid-row: 7/9;
    grid-template-rows: 15px 22px 15px 48px 15px 35px 15px 22px 15px 22px 25px 20px 25px 15px;
  }
}/*# sourceMappingURL=attraction.css.map */