* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}
header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 20;
  border-bottom: 1px solid #e6e5e5;
  .nav_top {
    width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      width: 150px;
      font-size: 30px;
      color: #448899;
      margin: 10px 0px;
      cursor: pointer;
      &:hover {
        color: #79aebb;
        transition: 0.3s;
      }
    }
    ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      padding: 10px 0px;
      li {
        cursor: pointer;
        color: #666666;
        margin: 10px 0px;
        padding: 0px 10px;
        font-size: 16px;
        &:nth-child(3) {
          display: none;
        }
        &:hover {
          transition: 0.3s;
          color: #9c9a9a;
        }
      }
    }
  }
}

.blackBackground {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 0px;
  z-index: 15;
}
.logIn {
  width: 340px;
  height: 275px;
  border-radius: 5px;
  overflow: hidden;
  color: #666666;
  background-color: white;
  font-size: 16px;
  z-index: -10;
  position: absolute;
  position: fixed;
  top: 12%;
  left: 50%;
  margin-left: -170px;
  display: grid;
  grid-template-columns: 15px auto 15px;
  grid-template-rows: 10px 15px 31px 15px 47px 10px 47px 10px 47px 10px 22px 10px 22px 15px;
  opacity: 0;
  .topColor {
    grid-column: 1/4;
    grid-row: 1/2;
    background: linear-gradient(to right, #66aabb, #337788);
  }
  h3 {
    font-size: 24px;
    text-align: center;
    grid-column: 2/3;
    grid-row: 3/4;
    position: relative;
  }
  .cross {
    background: url("/static/photos/icon_close.jpg");
    width: 16px;
    height: 16px;
    top: 7px;
    right: 0;
    cursor: pointer;
    grid-column: 2/3;
    grid-row: 3/4;
    position: absolute;
  }
  .logInEmail {
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 15px;
    grid-column: 2/3;
    grid-row: 5/6;
  }
  .logInPassword {
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 15px;
    grid-column: 2/3;
    grid-row: 7/8;
  }

  button {
    background-color: #448899;
    color: white;
    border: none;
    font-size: 19px;
    grid-column: 2/3;
    grid-row: 9/10;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      background-color: #5898a8;
    }
  }
  .logInMessage {
    text-align: center;
    display: none;
    grid-column: 2/3;
    grid-row: 11/12;
    color: red;
  }
  .changeSignUp {
    text-align: center;
    grid-column: 2/3;
    grid-row: 11/12;
    span {
      cursor: pointer;
    }
  }
}
.signUp {
  width: 340px;
  height: 330px;
  border-radius: 5px;
  overflow: hidden;
  color: #666666;
  background-color: white;
  font-size: 16px;
  z-index: -10;
  position: absolute;
  position: fixed;
  top: 12%;
  left: 50%;
  margin-left: -170px;
  display: grid;
  grid-template-columns: 15px auto 15px;
  grid-template-rows: 10px 15px 31px 15px 47px 10px 47px 10px 47px 10px 47px 10px 22px 10px 25px 15px;
  opacity: 0;
  .topColor {
    grid-column: 1/4;
    grid-row: 1/2;
    background: linear-gradient(to right, #66aabb, #337788);
  }
  h3 {
    font-size: 24px;
    text-align: center;
    grid-column: 2/3;
    grid-row: 3/4;
    position: relative;
  }
  .signUpCross {
    background: url("/static/photos/icon_close.jpg");
    width: 16px;
    height: 16px;
    top: 7px;
    right: 0;
    cursor: pointer;
    grid-column: 2/3;
    grid-row: 3/4;
    position: absolute;
  }

  .signUpName {
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 15px;
    grid-column: 2/3;
    grid-row: 5/6;
  }
  .signUpEmail {
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 15px;
    grid-column: 2/3;
    grid-row: 7/8;
  }
  .signUpPassword {
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 15px;
    grid-column: 2/3;
    grid-row: 9/10;
  }

  button {
    background-color: #448899;
    color: white;
    border: none;
    font-size: 19px;
    grid-column: 2/3;
    grid-row: 11/12;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      background-color: #5898a8;
    }
  }
  .signUpMessage {
    color: red;
    display: none;
    text-align: center;
    grid-column: 2/3;
    grid-row: 13/14;
  }
  p {
    text-align: center;
    grid-column: 2/3;
    grid-row: 13/14;
    span {
      cursor: pointer;
    }
  }
}

//button scale animation
@keyframes buttonScaleDown {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.95);
  }
}

@keyframes buttonScaleUp {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}

.scaleUp {
  animation: scaleUpAnnimation 0.2s forwards;
}
.scaleDown {
  animation: scaleDownAnnimation 0.2s forwards;
}
@keyframes scaleDownAnnimation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

@keyframes scaleUpAnnimation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media (max-width: 1220px) {
  header {
    width: 100%;
    .nav_top {
      width: 100%;
    }
  }
}
@media (max-width: 600px) {
  header {
    .nav_top {
      h1 {
        width: 175px;
        font-size: 30px;
        color: #448899;
        margin: 10px 0px;
        padding-left: 10px;
      }
    }
  }
}
