<link rel="stylesheet" href="/static/style/attraction/attraction.css" />
{% extends "header.html" %} {% block content %}
<main class="main_container">
  <div class="image_container">
    <img
      class="right_arrow"
      src="/static/photos/btn_rightArrowright.png"
      alt=""
    />
    <img class="left_arrow" src="/static/photos/btn_leftArrowleft.png" alt="" />
    <div class="dotContainer"></div>
  </div>
  <h3></h3>
  <p class="cate_and_mrt"></p>
  <div class="tour_booking">
    <h4>訂購導覽行程</h4>
    <p>以此景點為中心的一日行程，帶您探索城市角落故事</p>
    <div class="date_choosing">
      <label for="">選擇日期&nbsp;:</label>
      <input type="date" />
    </div>
    <div class="time_choosing">
      <p>選擇時間&nbsp;:</p>
      <div class="clickContainer">
        <div class="clickEffect"></div>
      </div>
      <p class="time_separator">上半天</p>
      <div class="clickContainer">
        <div class="clickEffect time_active"></div>
      </div>
      <p>下半天</p>
    </div>
    <div class="tour_pricing">
      <p>導覽費用&nbsp;:</p>
      <p>新台幣 <span>2000</span> 元</p>
    </div>
    <button>開始預訂行程</button>
    <p class="bookErrorMessage"></p>
  </div>
</main>
<section class="tour_intro_container">
  <p class="tour_intro"></p>
  <p style="font-weight: bold">景點地址&nbsp;:</p>
  <p class="tour_address"></p>
  <p style="font-weight: bold">交通方式&nbsp;:</p>
  <p class="tour_transport"></p>
</section>
<footer>
  <p>COPYRIGHT © 2021 台北一日遊!</p>
</footer>
{% endblock %} {% block js %}
<script src="/static/js/attraction.js"></script>
{% endblock %}
