<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <meta name="robots" content="index, follow" />
    <meta name="description" content="" />
    <meta name="author" content="James Chen" />
    <link rel="stylesheet" href="/static/style/header/header.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap"
      rel="stylesheet"
    />
  </head>
</html>
<body>
  <div class="blackBackground"></div>
  <section class="logIn">
    <div class="topColor"></div>
    <h3>登入會員帳號</h3>
    <div class="cross"></div>
    <input class="logInEmail" type="email" placeholder="輸入電子信箱" />
    <input class="logInPassword" type="password" placeholder="輸入密碼" />
    <button>登入帳戶</button>
    <p class="logInMessage"></p>
    <p class="changeSignUp">
      還沒有帳戶 ? <span class="loginSpan">點此註冊</span>
    </p>
  </section>
  <section class="signUp">
    <div class="topColor"></div>
    <h3>註冊會員帳號</h3>
    <div class="signUpCross"></div>
    <input class="signUpName" type="text" placeholder="輸入姓名" />
    <input class="signUpEmail" type="email" placeholder="輸入電子信箱" />
    <input class="signUpPassword" type="password" placeholder="輸入密碼" />
    <button>註冊新帳戶</button>
    <p class="signUpMessage"></p>
    <p class="changeLogIn">
      已經有帳戶了 ? <span class="signUpSpan">點此登入</span>
    </p>
  </section>
  <header>
    <nav class="nav_top">
      <h1>台北一日遊</h1>
      <ul>
        <li>預定行程</li>
        <li></li>
      </ul>
    </nav>
  </header>
  {% block content %}{% endblock %}
</body>

<script src="/static/js/header.js"></script>
{% block js %}{% endblock %}
</html>
