<link rel="stylesheet" href="/static/style/index/index.css" />
{% extends "header.html" %} {% block content %}
<section class="mainBanner">
  <div class="txtAndSearch">
    <h2>輕鬆享受台北一日悠閒</h2>
    <p>探索每個角落，體驗城市的深度旅遊行程</p>
    <div class="searchArea">
      <input type="text" placeholder="輸入景點名稱查詢" />
      <button class="searchButton">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
    <h5 class="searchErrorMessage"></h5>
  </div>
</section>
<main></main>
<footer>
  <p>COPYRIGHT © 2021 台北一日遊!</p>
</footer>

{% endblock %} {% block js %}
<script src="/static/js/index.js"></script>
{% endblock %}
